{% block title %}  {% endblock %}
  {% block stylesheets %}
           <link rel="stylesheet" href="{{ asset('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css') }} " integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z=" crossorigin="anonymous"/>

  {% endblock %}
{% block body %}
{% for message in app.flashes('success') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}
<style>

/*background-image:url("images/lo.jpg");*/
/*    background-position: center center;*/
/*    background-size: cover;*/
/*    !*width: 100%;*!*/
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }

}

</style>
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form action="{{ path('security_login') }}" autocomplete="off" method="post">
                        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                            <p class="lead fw-normal mb-2 me-3">Connectez vous !</p>

                        </div>

                        <div class="divider d-flex align-items-center my-4">
                            <p class="text-center fw-bold mx-3 mb-0">Or</p>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" id="form3Example3" class="form-control form-control-lg" name="_username"
                                   placeholder="Enter a valid email address" autocomplete="off" />
                            <label class="form-label" for="form3Example3">Email address</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            <input type="password" id="form3Example4" class="form-control form-control-lg"  name="_password"
                                   placeholder="Enter password" autocomplete="off" />
                            <label class="form-label" for="form3Example4">Password</label>
                        </div>

                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Checkbox -->
                            <div class="form-check mb-0">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                                <label class="form-check-label" for="form2Example3">
                                    Remember me
                                </label>
                            </div>
                            <a href="#!" class="text-body">Forgot password?</a>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="{{ path('security_inscription') }}" class="link-danger">Register</a></p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div
                class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
            <!-- Copyright -->
            <div class="text-white mb-3 mb-md-0">
                Copyright © 2020. All rights reserved.
            </div>
            <!-- Copyright -->

            <!-- Right -->
            <div>
                <a href="#!" class="text-white me-4">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#!" class="text-white me-4">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#!" class="text-white me-4">
                    <i class="fab fa-google"></i>
                </a>
                <a href="#!" class="text-white">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
            <!-- Right -->
        </div>
    </section>

{#    <div class="container-fluid mt-4" >#}

{#        {% if error %}#}
{#            <div class="alert alert-danger col-lg-3" style="margin-left: 38%">#}
{#                Une erreur est survenue,le nom d'utilisateur ou alors#}
{#                le mot de passe est invalide#}
{#            </div>#}
{#        {% endif %}#}



{#    </div>#}

{#        <div class="bg-light py-3  px-3">#}
{#            {%  if hasError %}#}
{#                <div class="alert alert-danger">Une erreur est survenue,le nom d'utilisateur ou alors#}
{#                    le mot de passe est invalide</div>#}
{#            {% endif %}#}



{#    <div class="container p-3 my-5 border col-lg-3">#}

{#        <form action="{{ path('security_login') }}" autocomplete="off" method="post" >#}
{#        <div class="form-group ">#}

{#            <h1><p class="font-italic" style="text-align: center">Connectez vous !</p></h1>#}
{#            <hr>#}
{#            <label for="inputEmail">Email</label>#}
{#            <div class="input-group mb-3">#}

{#                <input type="text" class="form-control"  required name="_username" placeholder="email" autocomplete="of">#}
{#            </div>#}


{#            <div class="form-group ">#}
{#                <label for="inputPassword">Mot de passe</label>#}
{#                <div class="input-group mb-3">#}

{#                <input type="password" class="form-control" required name="_password" placeholder="Password" autocomplete="of">#}

{#            </div>#}

{#            </div>#}
{#            <div class="d-flex justify-content-center">#}
{#            <button type="submit" class="btn btn-primary center-block " >Connexion</button>#}
{#            </div>#}
{#            <div class="">#}
{#                <hr>#}
{#                <p class="text-center">Pas encore de compte ?<strong class="text-primary"><a href="{{ path('security_inscription') }}">Inscription</a></strong></p>#}
{#            </div>#}
{#        </div>#}
{#        </form>#}
{#    </div>#}
            {% endblock %}

            {% block javascripts %}
<script src="{{ asset('https://code.jquery.com/jquery-3.5.1.slim.min.js') }}" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="{{ asset('https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js') }}" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="{{ asset('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js') }}" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
 <script src={{ asset('https://kit.fontawesome.com/a076d05399.js') }}></script>
{% endblock %}

