{% block title %}  {% endblock %}
  {% block stylesheets %}
           <link rel="stylesheet" href="{{ asset('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css') }} "integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z=" crossorigin="anonymous"/>

  {% endblock %}
{% block body %}
{% for message in app.flashes('success') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}
<style>
body{
background-image:url("uploads/images/lo.jpg");
    background-position: center center;
    background-size: cover;
    /*width: 100%;*/
}

</style>


    <div class="container-fluid mt-4" >

        {% if error %}
            <div class="alert alert-danger col-lg-3" style="margin-left: 38%">
                Une erreur est survenue,le nom d'utilisateur ou alors
                le mot de passe est invalide
            </div>
        {% endif %}



    </div>

{#        <div class="bg-light py-3  px-3">#}
{#            {%  if hasError %}#}
{#                <div class="alert alert-danger">Une erreur est survenue,le nom d'utilisateur ou alors#}
{#                    le mot de passe est invalide</div>#}
{#            {% endif %}#}



    <div class="container p-3 my-5 border col-lg-3">

        <form action="{{ path('security_login') }}" autocomplete="off" method="post" >
        <div class="form-group ">

            <h1><p class="font-italic" style="text-align: center">Connectez vous !</p></h1>
            <hr>
            <label for="inputEmail">Email</label>
            <div class="input-group mb-3">

                <input type="text" class="form-control"  required name="_username" placeholder="email" autocomplete="of">
            </div>


            <div class="form-group ">
                <label for="inputPassword">Mot de passe</label>
                <div class="input-group mb-3">

                <input type="password" class="form-control" required name="_password" placeholder="Password" autocomplete="of">

            </div>

            </div>
            <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary center-block " >Connexion</button>
            </div>
        </div>


{% endblock %}

            {% block javascripts %}
<script src="{{ asset('https://code.jquery.com/jquery-3.5.1.slim.min.js') }}"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
crossorigin="anonymous"></script>

<script src="{{ asset('https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js') }}"
 integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="{{ asset('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js') }}"
integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
 <script src={{ asset('https://kit.fontawesome.com/a076d05399.js') }}></script>
{% endblock %}
